@import 'https://fonts.googleapis.com/css?family=Cousine:400,700';
body{
  font-family: 'Cousine',Menlo,Consolas,monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: #1A1D1D;
}
h1{
  font-size: 1.0em;
}
h1,p{
  display:inline;
}
h1,a{
  border-bottom:4px solid #1A1D1D;
  padding:6px 0 2px;
}
a {
  text-decoration:none;
  border-color: #38E;
}
a:hover{
  background: #4a525a;
  color: #fff;
}
.br{
  word-spacing:-5px;
}
/* */
h1,h2,h3,p {
  display:table;
  padding:0;
}
h1{
  border-bottom:none;
  margin:0;
}
h2,h3
{
font-size:inherit;
font-weight:normal;
color: #1A1D1D;
border-bottom:1px solid #1A1D1D;
}
h2{
  border-bottom-width:4px;
}
h2,h3,p{
  margin:0 0 1em;
}
@media screen and (max-width:700px){body{margin:0;}header{position:static;margin:0 0 2em;}}
