@import 'https://fonts.googleapis.com/css?family=Cousine:400,700';
body{
  font-family: 'Cousine',Menlo,Consolas,monospace;
  font-size: 14px;
  line-height: 1.6em;
  background: #4a525a;
  color: #fff;
  float: none;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 900px;
}
.btn {
  font-size: 12px;
}
h1{
  font-size: 1.0em;
}
h1,p{
  display:inline;
}
h1,a{
  padding:6px 0 2px;
}
a {
  color: #e266a8;
  text-decoration:none;
}
a:hover{
  background: #fff;
  color: #38E;
}
.br{
  word-spacing:-5px;
}
/* */
h1,h2,h3,p {
  display:table;
  padding:0;
}
h1{
  border-bottom:none;
}
h2,h3
{
font-size:inherit;
font-weight:normal;
border-bottom:1px solid #fff;
}
h2{
  border-bottom-width: 2px;
}
h2,h3,p{
  margin:0 0 1em;
}
@media screen and (max-width:700px){body{margin:0;}header{position:static;margin:0 0 2em;}}
